// Centralização flex
@mixin flex-center($justify: center, $align: center) {
  display: flex;
  justify-content: $justify;
  align-items: $align;
}

// Responsividade
@mixin respond($breakpoint) {
  @if $breakpoint == tablet {
    @media screen and (max-width: 1023px) { @content; }
  }
  @else if $breakpoint == mobile {
    @media screen and (max-width: 767px) { @content; }
  }
}
