// Cores
$primary-color: #182C61;
$secondary-color: #44bd32;
$secondary-hover: #4cd137;
$background-color: #f5f6fa;
$text-color: #fff;

// Layout
$max-width: 1024px;
$border-radius: 16px;

// Tipografia
$font-stack: 'Roboto', sans-serif;

